{% extends "layout.html" %}
{% block title %}Search{% endblock %}

{% block content %}
  <div class="container col-lg-2">
{% if facet_counts %}
  <form class="form-horizontal" action="{{ url_for('search') }}">
    <div class="form-group">
      <div class="col-lg-10">
        <input type="hidden" value="{{ request.args.get('query', '') }}" name="query">
        <!-- So many for loops :( :( :(  -->
        {% for facetfield in facet_counts['facet_fields'] %}
        {% for element in facet_counts['facet_fields'][facetfield] %}
        {% if facet_counts['facet_fields'][facetfield][element] > 0 %}
        {{ facetfield }}
        <select class="form-control" id="select" padding="10px" name="{{ facetfield.replace('_facet', '') }}">
          {% break %}
          {% endif %}
          {% endfor %}
          {% if request.args.get(facetfield.replace('_facet',''), False) %}
          <option value="" label="All"></option>
          {% else %}
          <option value="" label="All" selected></option>
          {% endif %}
          {% for element in facet_counts['facet_fields'][facetfield] %}
          {% if facet_counts['facet_fields'][facetfield][element] > 0 %}
          {% if request.args.get(facetfield.replace('_facet', ''), '') == element %}
          <option selected value="{{element}}">{{ element }} ({{facet_counts['facet_fields'][facetfield][element]}})</option>
          {% else %}
          <option value="{{element}}">{{ element }} ({{facet_counts['facet_fields'][facetfield][element]}})</option>
          {%endif %}
          {% endif %}
          {% endfor %}
        </select>
        {% for element in facet_counts['facet_fields'][facetfield] %}
        {% if facet_counts['facet_fields'][facetfield][element] > 0 %}
        <br>
        {% break %}
        {% endif %}
        {% endfor %}
        {% endfor %}
      </div>
    </div>
    <div class="form-group">
      <button class="btn btn-default" margin-left="23px">Cancel</button>
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
{% endif %}
</div>

  <div class="container col-lg-9">
    {% if spellchecks %}
      {% if not spellchecks.spellcheck['suggestions']['correctlySpelled'] %}
        <a class="text-info">Did you mean:</a>
        <a href="{{ url_for('search') }}?query={{ spellchecks.spellcheck['suggestions']['collation']['collationQuery'] }}">
          {{ spellchecks.spellcheck['suggestions']['collation']['collationQuery'] }}
        </a>
      {% endif %}
    {% endif %}

    {% if response %}
      {% for result in response %}
      <blockquote>
        {% if result.identifier %}
          <h4>
            <a href="{{ result.identifier[0] }}">{{ result.title[0][:50] }}
              {% if result.title[0][50:51] %}...{% endif %}</a>
          </h4>
        {% else %}
          <h4><p class="text-primary">{{ result.title[0][:50] }}...</p></h4>
        {% endif %}

        <h6>

        {% if result.creator %}
          {{ result.creator[0] }}
        {% else %}
          <h5>Unknown creator</h5>
        {% endif %}

        {% if result.description %}
          <div class="field"> {{ result.description[0][:300] }} </div>
        {% else %}
          <div class="field"> No description found. </div>
        {% endif %}
        
        {% if result.identifier %}
          <div class="field"> <a class="text-success" href="{{ result.identifier[0] }}">{{ result.identifier[0] }}</a> </div>
        {% else %}
          <div class="field"> <p class="text-success"> No identifier found. </p></div>
        {% endif %}

        </h6>

      </blockquote>

      {% else %}
        <h3>No results found.</h3>        
      {% endfor %}

      {{ pagination.links|safe }}
    {% elif query %}
      <div class="col-lg-6"><h4>No results found.</h4></div>
    {% else %}
      <div class="col-lg-6"><h4>Here be no query ...</h4></div>
    {% endif %}
  </div>
{% endblock %}
